.section2{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    margin: 2.5rem 0;
}   

.section2 h2{
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.section2 p{
    text-align: center;
    max-width: 60rem;
}

.plantaContainer{
    margin: 2.5rem 0;
    width: 100%;
}
.plantaContainer img{
    width: 100%;
}

.projetoContainer{
    width: 100%;
}
.projetoContainer img{
    width: 100%;
}

.projetoContainer h3{
    font-size: 3.6rem;
    font-weight: 400;
}

.bottomButtonContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    -webkit-animation: flash linear 2s 15;
    animation: flash linear 2s 15;
}

@-webkit-keyframes flash {
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

.bottomButtonContainer a{
    padding: 2rem 5rem;
    color: #F99920;
    border: solid 2px #F99920;
    font-size: 1.4rem;
}

.bottomButtonContainer a:hover, .bottomButtonContainer a:active{
    cursor: pointer;
    background-color: #F99920;
    color: white;
}

.section2icon:hover{
    cursor: pointer;
}

@media (min-width: 768px) 
{
    .plantaAndProjectContainer{
        margin-top: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .plantaContainer, .projetoContainer{
        width: 40vw;
        margin: 20px;
        overflow: hidden;
    }

    .plantaContainer img, .projetoContainer img{
        object-fit: cover;
    }
}