.section1{
    padding: 0 9rem;
}

.section1 h3{
    font-size: 3.6rem;
}

.sectionItem{
    display: grid;
    grid-template-columns: 50% 50%;
}

.sectionItemText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

.sectionItemTextLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.rightImage{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

@media (max-width: 1200px) 
{
    .section1 img{
        width: 80%;
    }
}

@media (max-width: 768px) 
{
    .sectionItem{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 2rem 0;
    }

    .sectionItemText, .sectionItemTextLeft{
        margin: 2rem 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .rightImage{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: center;
    }

    .section1 :nth-child(2){
        flex-direction: column;
    }
}

@media (max-width: 380px) 
{
    .section1 h3{
        font-size: 1.6rem;
    }
}

