.header{
    display: grid;
    grid-template-areas: "logo nav";
    padding: 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.nav{
    grid-area: 'nav';
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
}

.logo{
    color: #fff;
    font-size: 3.6rem;
}

.burguer{
    display: none;
}

@media (max-width: 700px){
    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 5vh;
    }

    .nav{
        display: none;
    }

    .burguer{
        display: block;
        background-color: transparent;
        border: none;
        outline: none;
    }
}