.header{
    overflow: hidden;
    padding: 3rem 10rem;
    color: white;
    border-bottom: solid 1px white;

    /*grid css*/
    background-color: #20336c;
    background-image:
    linear-gradient(0deg, transparent 24%,
        rgba(255, 255, 255, .02) 25%,
        rgba(255, 255, 255, .02) 26%,
        transparent 27%, transparent 74%,
        rgba(255, 255, 255, .1) 75%, 
        rgba(255, 255, 255, .1) 76%,
        transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, 
        rgba(255, 255, 255, .02) 25%, 
        rgba(255, 255, 255, .02) 26%,
        transparent 27%, transparent 74%, 
        rgba(255, 255, 255, .1) 75%, 
        rgba(255, 255, 255, .1) 76%,
        transparent 77%, transparent);
    background-size:220px 220px;
}

.header a {
    float: left;
    text-align: center;
    padding: 1rem 1.2rem;
    text-decoration: none;
    font-size: 1.8rem; 
    line-height: 2.5rem;
    font-weight: bold;
}

.header a.logo {
    font-size: 3.6rem;
    font-weight: 900;
    color: white;
    overflow: hidden;
  }
  
  .header a:hover {
      cursor: pointer;
      padding: .5rem 1.2rem;
      border-bottom: solid 5px white;
  }
  
  .header-right {
    float: right;
  }