.section3{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}
.section3 div{
    align-self: center;
    justify-self: center;
}

.section3 h3{
    font-size: 3.6rem;
    margin-bottom: 2rem;
    text-align: center;
}

.underlineText{
    display: inline-flex;
    border-bottom: 5px solid #20336C;
}

.section3 p{
    padding: 10px;
    text-align: center;
}

.section3 img{
    max-width: 20rem;
}

@media (min-width: 900px) 
{
    .section3{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 100px;
    }    

    .section3 h3{
        text-align: left;
    }

    .section3 p{
        text-align: left;
        padding: 0;
        max-width: 600px;
    }

    .section3 img{
        max-width: 40rem;
        margin-left: 4rem;
    }
}

@media (min-width: 1024px) 
{
    .section3 img{
        margin: 0;
    }
}
