.openMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100vw;
    padding: 100px 0;
    position: absolute;
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    background-color: #20336c;
    z-index: 2000;
}

.openMenu a{
    margin: 15px 0;
}